*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px; /* Pour centrer le bouton*/
    text-align: center;
}


h1{
    text-align: center; /*Pour centrer mon texter*/
    font-size: 45px;
}


p{
    color: rgb(116, 110, 110); /*Pour donner la couleur grises aux écritures de mon texte*/
  text-align: center; /*Pour centrer mon texte.*/
  font-size: 18px; /* Pour la taille du texte*/
}

.animated-link {
    display: inline-block; /* Pour que notre élement prenne bien toute la largeur et la hauteur du contenu qu'il cotient*/
    background: #000;
    border-radius: 3px;
    text-decoration: none;
}

.animated-links span { 

    display: inline-block; 
    background: #ebf4ff;
    color: #000000;
    border: 1px solid #333;
    padding: 18px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: transform  0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out;
}

 .animated-link:hover span {   /*Ce qu'on vera après avoir appuyé sur le bouton*/
    transform: translate(-6px, -6px);
    color: #000;
    background: #0991cb; 
}

#slider {
    position: relative;
    width: 1280px;
    margin: auto; /* espace égal à gauche et à droite (pour l'image)*/
    display: flex;
    align-items: center; /* centrer tous les enfants des div id='slider*/
}

#precedent, #suivant /* '#' parce qu'au niveau du html c'est écrit 'id="..."' et non class="..."*/ {
    position: absolute;
    font-size: 100px;
    background-color: #1d1717;
    color: #fafafa;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

.contain {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    /* flex: 0 0 100%; */
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}



.row {
    display: flex; /* Utilisez un conteneur flex pour aligner les images */
    justify-content: center; /* Répartit l'espace entre les images */
    align-items: center; /* Aligne les images verticalement au centre */
  }
  
  .row img {
    max-width: 50%; /* Assurez-vous que les images ne dépassent pas de leur conteneur */
    height: 75px; /* Maintient le ratio hauteur/largeur d'origine des images */
    margin: 5px; /* Ajoute une marge entre les images (ajustez selon vos besoins) */
  }

/* Footer */
 footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.newsletter-section {
    flex: 2;
    padding: 20px;
}

.newsletter-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.newsletter-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.newsletter-section input[type="email"] {
    flex: 1; / permet à l'input de prendre tout l'espace disponible /
    border: none; / retire la bordure initiale de l'input /
    padding: 10px;
    border-radius: 0;
    background-color: #f5f5f5;
}

.newsletter-section button {
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0;
    background-color: #f5f5f5;
}

.footer-navigation {
    display: flex;
    flex: 3;
    justify-content: space-between;
}

.nav-section {
    flex: 1;
    padding: 20px;
}

.nav-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.nav-section ul {
    list-style-type: none;
    padding: 0;
}

.nav-section li {
    margin-bottom: 8px;
}

.nav-section li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-section li a:hover {
    color: #007BFF;
}

.email-input-group {
    display: flex;
    border: 2px solid #ccc; / bordure carrée autour de l'ensemble /
    border-radius: 0; / bordure carrée /
    overflow: hidden; / permet de garantir que les éléments internes ne dépassent pas */
}


@media (max-width: 767px) {
    footer {
        flex-direction: column;
        padding: 0;
    }
}